
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>区域选择三级联动</title>
</head>
<body>
	<div id="app">
		<select class="pro" v-model="pid" @change="prochange()">
			<option :value="v.id" v-for="v in pro">{{v.name}}</option>
		</select>省	
		<select class="city" v-model="cid" @change="citychange()">
			<option :value="v.id" v-for="v in city">{{v.name}}</option>
		</select>市

		<template  v-if="county.length>0">
		<select class="county" v-model="ccid">
			<option :value="v.id" v-for="v in county">{{v.name}}</option>
		</select>县/区
		</template>
	</div>
</body>
</html>

<script src="new_file.js"></script>
<script src="https://cdn.bootcss.com/vue/2.2.6/vue.min.js"></script>

<script>
console.log(area_data);	
new Vue({
	el:"#app",
	data:{
		all:area_data,
		pro:"",
		city:"",
		county:"",
		pid:"",
		cid:"",
		ccid:""
	},
	created:function(){
		this.pro=this.all.pro;
		this.pid=this.pro[0]['id'];
		this.prochange();
	},
	methods:{
		prochange:function(){
	        this.city=this.all.city[this.pid];
			this.cid=this.city[0]['id'];
			this.county=this.all.county[this.cid];
			if(this.county.length>0){
				this.ccid=this.county[0]['id'];
			}
		},
		citychange:function(){
            this.county=this.all.county[this.cid];
            if(this.county.length>0){
            	this.ccid=this.county[0]['id'];
            }
		}
	}
})
</script>
<script type="text/javascript">
	
</script>